{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <br>
        <h2>{{ page_heading_2 }}</h2>
        <br>
        <div>
            <form method="{{ login_method }}" action="{{ login_action }}">
                <label for="username">Username</label>
                <br>
                <input type="text" id="username" name="username">
                <br>
                <label for="password">Password</label>
                <br>
                <input type="password" id="password" name="password">
                <br>
                <input id="login" type="submit" value="Login">
                <p class="login_error">{{ error_message }}</p>
            </form>
            <form method="{{ help_method }}" action="{{ help_action }}">
                <input id="help" type="submit" value="Help">
            </form>
        </div>
        </form>
    </div>
{% endblock %}